html body {
  padding: 0;
  margin: 0;
}

#app {
  width: 100%;
  padding: 0;
  font-family: sans-serif;
}

#search-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  padding: 10px 0;
}

input.search {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input.search:focus {
  width: 100%;
}


table {
  border-collapse: collapse;
  border: 1px solid silver;
  letter-spacing: 1px;
  width: 100%;
  opacity: 0.95;
  background: transparent;
  color: black;
}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 5px 10px;
}

th {
  background-color: rgb(180,180,180);
}

td {
  text-align: center;
  align-items: center;
}

tr:nth-child(even) td {
  background-color: rgb(200,200,200);
}

tr:nth-child(odd) td {
  background-color: rgb(220,220,220);
}
