html body {
  padding: 0;
  margin: 0;
  background-color: #FFFFFF;
  font-family: 'Oxygen';
}

#app {
  width: 100%;
  padding: 0;
}


#search-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0;
}

#search-box img {
  height: 100px;
  margin-left: 1em;
}

#searchBox {
  margin-right: 2em;
  border: 1px solid #044389;
}

.dropdown .dropdown-input[data-v-4e520537] {
  cursor: text !important;
}


input.search {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input.search:focus {
  width: 100%;
}


table {
  border-collapse: separate;
  /* border: 1px solid #044389; */
  letter-spacing: 1px;
  width: 100%;
  opacity: 0.95;
  background: transparent;
  color: black;
  font-size: small;
}

td, th {
  /* border: 1px solid #044389; */
  padding: 5px 10px;
}

th {
  background-color: #044389;
  color: white;
  font-weight: 300;
}

td {
  text-align: center;
  align-items: center;
}

tr:nth-child(even) td {
  background-color: #CDE1F2;
}

tr:nth-child(odd) td {
  background-color: #6D9DC5;
}

input[type="number"] {
  width: 50px;
}

input[type="checkbox"] {
  cursor: pointer;
}

button {
  background: none;
  border: none;
  color: red;
  font-size: large;
}

button:hover {
  cursor: pointer;
  color: darkred;
}

.graph {
  display: flex;
  justify-content: center;
}

tr:last-child td {
  font-weight: 700;
  background-color: white;
}

#total {
  background-color: #ffa500;
}
